body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(6, 6, 6);
    /* background-image: url('content/SPAAACE.png');
    background-size: cover; */
}



#page {
    width: 8.5in;
    height: 19in;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(22, 22, 22, 70%);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#pagecontent {
    color: rgb(236, 213, 180);


    text-align: center;
    padding-left: 20px;
    padding-right: 20px;



}

#pagecontent h3, h1 {
    color: rgb(255, 120, 41);
}

#pagecontent p {
   
}

#pagecontent li {
    padding-bottom: 2px;
}

#titlebox h1, h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#experience {
    float: left;
    text-align: left;
}

#achievements {
    float: left;
    text-align: left;
}

#technologies {
    float: left;
    text-align: left;
}

#education {
    float: left;
    text-align: left;
}

#projects {
    float: left;
    text-align: left;
}

#iso {
    float: left;
    text-align: left;
}

#gems {

    position: absolute;
    width: 80px;
    padding: 10px;
    margin: -50;

}


